[includeIf "gitdir:~/universe/"]
  path = ~/.gitconfig-work

[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/environment/"]
  path = ~/.gitconfig-personal


[alias]
	c = checkout
	a = add
	s = status
	cm = commit
[push]
	default = current
[core]
	editor = nvim
	fsmonitor = true
	untrackedcache = true
	trustctime = false
[index]
	skipHash = false

