# This is Git's per-user configuration file.
[user]
	name = Jack Blanc
	email = jackblanc0@icloud.com

[alias]
	c = checkout
	a = add
	s = status
	cm = commit
	pp = push
[push]
	default = current
[core]
	editor = nvim
	fsmonitor = true
	untrackedcache = true
	trustctime = false
[github]
	username = jackblanc
